html {}

body {
    font-family: roboto;
}

h1 {
    font-size: 1em;
}

a {
    color: #0083e8;
}

samp {
    display: none;
}

article img {
    width: 100%;
    width: calc(100% + 2em);
    margin-left: -1em;
    margin-top: -1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

article {
    width: 20em;
    padding: 1em;
    margin-bottom: 2.5em;
    transition: 1s;
    box-shadow: 0px 8px 18px 0px rgba(103, 92, 83, .3);
    border-radius: 10px;
}

article:hover {
    transform: scale(1.05);
}

p {
    max-height: 15em;
}

.nice::after {
    content: "🚲🚲🚲🚲🚲";
}

nav {
    background-color: #675C53;
}

span {
    display: none;
}

article img + * {
    (direct sibling)
}

article *:nth-child(2) {}